// Modal
.modal-content {
  .modal-header,
  .modal-footer {
    background-color: $color-bg-gray-3;
    border-bottom: none;
    border-top: none;
  }
  .modal-body {
    background-color: $color-bg-gray-1;
  }
}
